.login {
   display: grid;
   place-items: center;
   height: 100vh;
   background-color: #000;
}


.login__image {
   width: 100%;

}

.login__button {
   text-decoration: none;
   color: #FFF;
   padding: 20px;
   background-color: #1db954;
   border-radius: 99px;
   font-weight: 800;
}